.container {
  max-width: 30rem;
}

@media (max-width: 1250px) {
  .container {
    max-width: 90%;
  }
}

.question {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5em;
}

.description {
  margin-top: 0.5em;
}
